#black-background {
  background-color: black;
}

body {
  overflow-x: hidden;
  }
  
  .estilo__logo__superior,
  .estilo__logo__inferior {
  display: flex;
  padding-left: 40px;
  padding-top: 20px;
  width: 180px;
  height: 70px;
  }
  
  .menu__superior {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 22px;
  }
  
  .imagem__principal {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
  }
  
  .pagina__titulo {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: -20px;
  }
  
  .filme__imagem__direita {
  position: relative;
  margin-top: -380px;
  transform: translateX(1150px);
  width: 230px;
  height: 310px;
  }
  
  .filme__titulo__direita {
  color: white;
  position: relative;
  right: -290px;
  top: 30px;
  font-size: 25px;
  }
  
  .filme__texto__direita {
  color: white;
  position: relative;
  padding-left: 100px;
  padding-top: 50px;
  font-size: 20px;
  max-width: 1100px;
  text-align: justify;
  }
  
  .filme__imagem__esquerda {
  position: relative;
  top: 40px;
  transform: translateX(95px);
  width: 230px;
  height: 310px;
  }
  
  .filme__titulo__esquerda {
  color: white;
  position: relative;
  right: -590px;
  top: 30px;
  font-size: 25px;
  }
  
  .filme__texto__esquerda {
  color: white;
  position: absolute;
  left: 380px;
  padding-right: 10px;
  padding-top: 50px;
  font-size: 20px;
  max-width: 1000px;
  text-align: justify;
  }
    
  .menu__inferior {
  background-color: black;
  display: flex;
  font-size: 22px;
  position: relative;
  bottom: 50px;
  left: 250px;
  }
  
  .menu__inferior li,
  .menu__superior li {
  display: inline-block;
  margin-right: 25px;
  }
  
  .menu__superior li a,
  .menu__inferior li a {
  text-decoration: none;
  color: white;
  margin: 10px;
  }
  
  .menu__inferior li a:hover,
  .menu__superior li a:hover {
  text-decoration: underline;
  }
  
  .menu__inferior li a:active,
  .menu__superior li a:active {
  text-decoration: underline;
  }