body {
    background-color: black;
    color: white;
  }

  .estilo__logo1 {
    display: inline-block;
    padding-left: 40px;
    padding-top: 20px;
    width: 180px;
    height: 70px;
  }

  .menu1 {
    position: absolute;
    top: 30px;
    left: 300px;
    font-size: 22px;
  }

  .menu1 li {
    display: inline-block;
    margin-right: 25px;
  }
  
  .menu1 li a {
    text-decoration: none;
    color: white;
    margin: 10px;
  }

  .menu1 li a:hover {
    text-decoration: underline;
  }

  .imagem__principal {
    margin-top: 40px;
  }

  .titulo__pagina {
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: -20px;
  }


  .imagem__livro {
    position: relative;
    top: -10px;
    transform: translate(1200px);
    width: 180px;
    height: 250px;
  }
      
  .titulo__livro {
    position: relative;
    right: -250px;
    top: 60px;
    font-size: 25px;
  }

  .texto__livro {
    position: absolute;
    padding-left: 100px;
    padding-right: 350px;
    padding-top: 50px;
    font-size: 20px;
  }

  .imagem__livro1 {
    position: relative;
    top: 20px;
    transform: translate(150px);
    width: 180px;
    height: 250px;
  }
      
  .titulo__livro1 {
    position: relative;
    right: -600px;
    top: 60px;
    font-size: 25px;
  }

  .texto__livro1 {
    position: absolute;
    left: 280px;
    padding-left: 100px;
    padding-right: 90px;
    padding-top: 50px;
    font-size: 20px;
  }

  .estilo__logo2 {
    display: inline-block;
    padding-left: 50px;
    padding-top: 60px;
    width: 180px;
    height: 70px;
  }

  .menu2 {
    position: relative;
    bottom: 80px;
    left: 300px;
    font-size: 22px;
  }

  .menu2 li {
    display: inline-block;
    margin-right: 25px;
  }
  
  .menu2 li a {
    text-decoration: none;
    color: white;
    margin: 10px;
  }

  .menu2 li a:hover {
    text-decoration: underline;
  }